<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIWMovie</title>
    <link rel="stylesheet" th:href="@{/css/stile.css}">
</head>

<body class="background">

    <header th:fragment="header">
        <a th:href="@{/index}" class="title">SIW Movie</a>
        <nav>
            <div class="dropdown">
                <p>Film</p>
                <div class="dropdown-content">
                    <a th:href="@{/movies}">Tutti i Film</a>
                    <a th:href="@{/formSearchMovies}">Cerca Film</a>
                </div>
            </div>

            <div class="dropdown">
                <p>Artisti</p>
                <div class="dropdown-content">
                    <a th:href="@{/artists}">Tutti gli Artisti</a>
                </div>
            </div>

            <div class="dropdown">
                <p>Generi</p>
                <div class="dropdown-content">
                    <a th:href="@{/genres}">Tutti i Generi</a>
                </div>
            </div>

            <div style="display: flex; align-items: center;  margin-left: 100px;">
                <img th:src="@{/pngs/user.png}" style="max-width: 48px; max-height: 48px;">

                <div class="dropdown">
                    <p sec:authentication="name">nomeUtente:</p>
                    <div class="dropdown-content">
                        <a th:href="@{/login}">Login</a>
                        <a th:href="@{/logout}">LogOut</a>
                        <a th:href="@{/formNewUser}">Nuovo Utente</a>
                        <a th:href="@{/user/editReviews}">Il mio Profilo</a>
                    </div>
                </div>
            </div>

        </nav>
    </header>

    <main class="small-margin-top column">
            <div class="card-slideshow">
                <h1 th:text="'I Film più amati'"></h1>
                <div class="card-container" style="background-color: #0000005f;">
                    <div class="card" th:each="movie:${topMovies}">
                        <div class="card-img">
                            <img th:src="@{'data:image;base64,' + ${movie.imageString}}">
                        </div>
                        <div class="card-info">
                            <a th:href="@{'/movies' + '/' + ${movie.id} }" class="link">
                                <h3 th:text="${movie.title} + ' ' + '(' + ${movie.year} + ')'">Info</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        <div th:fragment="movie-genres-slideshow" class="genres-slideshow">
            <div class="card-slideshow" th:each="genre: ${genres}" th:if="!${genre.movies.isEmpty}" style="margin-bottom: 2%;">
                <h1 th:text="'I migliori film di '+${genre.name}"></h1>
                <div class="card-container" style="background-color: #0000005f;">
                    <div class="card" th:each="movie:${genre.movies}">
                        <div class="card-img">
                            <img th:src="@{'data:image;base64,' + ${movie.imageString}}">
                        </div>
                        <div class="card-info">
                            <a th:href="@{'/movies' + '/' + ${movie.id} }" class="link">
                                <h3 th:text="${movie.title} + ' ' + '(' + ${movie.year} + ')'">Info</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>
</html>