<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIWMovie -Gestisci i Film</title>
    <link rel="stylesheet" th:href="@{/stile.css}">
</head>

<body class="background">

    <div th:insert="~{index.html :: header}"> </div>

    <main>

        <div class="title-div" th:if="${movies.isEmpty()}">
            <h1 class="title">Non ci sono Film nel sistema</h1>
        </div>
        <div class="title-div" th:unless="${movies.isEmpty()}">
            <h1 class="title">Gestisci i Film</h1>
        </div>

        <div class="card-slideshow">
            <div class="card-container">
                <div class="card"  th:each="movie:${movies}">
                    <div class="card-img">
                        <img
                            th:src="${movie.urlImage}">
                    </div>
                    <div class="card-info">
                        <a th:href="@{'/manageMovies' + '/' + ${movie.id}}" class="link" th:text="${movie.title} + ' ' + '(' + ${movie.year} + ')'">Info</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>

</html>